@use '../../utils/themeConstants';

.credentials-avatar {
  max-width: 120px;
  object-fit: contain;
  border-radius: 16px;
}

.credentials__main-info-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.credentials__main-info-block__caption {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.credentials__main-info-block__text {
  font-size: 18px;
  white-space: pre-wrap;
}